@import url(normalize.css);
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Nanum+Gothic:wght@400;700&display=swap');

:root{
    --kr-ff:'Nanum Gothic', sans-serif;
    --en-ff:'Montserrat', sans-serif;
    --body-fz:17px;
    --lh:27px;
    --body-fc:#2a2a2a;
    --white:#fff;
    --gray:#6d6e71;
    --red:#c40452;
    --width:1296px;
}

/* --------TYPOGRAPHY-------- */
body{
    font-family: var(--kr-ff);
    font-size: var(--body-fz);
    color:var(--body-fc);
    line-height: var(--lh);
}
h2{
    font-size: calc(var(--body-fz)*2.35);
    font-weight: 700;
    text-align: center;
}
h3{
    font-size: calc(var(--body-fz)*1.76);
    font-weight: 700;
    line-height: 1.2;
}
.main_tt{
    font-family: var(--en-ff);
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
.slide_tt{
    font-size: calc(var(--body-fz)*2.94);
}

.btn{
    display:inline-block;
    width: 160px;
    height: 40px;
    border-radius:20px;
    border:1px solid var(--white);
    padding:0 23px;
    box-sizing: border-box;
    color:var(--white);
    line-height: 40px;
    font-family: var(--en-ff);
    text-transform: uppercase;
    font-size: var(--body-fz);
    overflow: hidden;
    transition:all 0.4s;
}
.btn span{
    vertical-align:middle;
    padding-left:20px;
    display:inline-block;
    opacity: 0;
    transition: opacity 0.4s;
}
.btn:hover{
    width: 210px;
}
.btn:hover span{
    opacity: 1;
}
.tab{
    padding: calc(var(--lh)*2) 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    gap:50px;
}
.tab li{
    font-size: calc(var(--body-fz)*1.47);
    font-family: var(--en-ff);
    text-transform: uppercase;
    padding-bottom:13px;
    /* border-bottom:1px solid var(--red); */
    position: relative;
}
.tab li:after{
    content:'';
    display:inline-block;
    height: 1px;
    background:var(--red);
    position: absolute;
    bottom:0px;
    left: 0; right: 0; 
}
.tab li:hover:after{
    height: 2px;
}

/* --------LAYOUT-------- */
.container{
    width:var(--width);
    margin:0 auto;

}
.content_pd{
    padding:calc(var(--lh)*3) 0;
}
.content_top_pd{
    padding-top:calc(var(--lh)*3);
}


/* --------HEADER-------- */
header{
    background:linear-gradient(rgba(0,0,0,.1) 90px,rgba(255,255,255,.9) 91px);
    position: fixed;
    left: 0; right: 0; top: 0;
    z-index:700;
    height: 90px;
    overflow:hidden;
}
header.active{
    background:linear-gradient(var(--white) 90px,rgba(255,255,255,.9) 90px);
    box-shadow:1px 1px 3px rgba(0,0,0,.3);
}
header > .container{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
header .mobile_menu{
    display:none;
}
header > div .main_menu{
    display:flex;
}
header .main_menu > li{
    padding:0 50px;
    font-size: calc(var(--body-fz)*1.17);
    position: relative;
}
header .main_menu > li > a{
    padding:30px 0;
    color:#fff;
    text-transform: uppercase;
    font-family: var(--en-ff);
    line-height: 90px;
}
header.active .main_menu > li > a{
    color:var(--body-fc);
}
header .main_menu > li > ul{
    display:flex;
    justify-content: center;
    flex-direction: column;
    gap:15px;
    position: absolute;
    top:calc(100% + 1px);left:50%;
    transform: translateX(-50%);
    padding:20px 0;
}
header .main_menu > li > ul >li{
    white-space:nowrap;
    text-align: center;
    font-size: var(--body-fz);
}
header .main_menu > li > ul >li>a{
    color:#8c8c8c;
}
header .main_menu > li > ul >li>a.page{
    color:#000;
    font-weight: bold;
}
header .main_menu > li > ul >li>a.page:hover{
    color:var(--red);
}
header .etc_menu{
    display:flex;
    gap:20px;
}
header .etc_menu > li{
    font-size: calc(var(--body-fz)*1.17);
    color:#fff;
}
header .etc_menu li > a{
    color:#fff;
    line-height: 90px;
}
header.active .etc_menu li > a{
    color:var(--body-fc);
}
header .etc_menu .eng{
    font-family: var(--en-ff);
    text-transform: uppercase;
    position: relative;
}
header .etc_menu .eng:hover ul{
    opacity: 1;
    z-index:10;
}
header .etc_menu .eng > ul{
    width: 108px;
    height: 110px;
    padding:20px 0;
    background:rgba(255,255,255,.8);
    box-shadow:0px 1px 3px rgba(0,0,0,.3);
    box-sizing: border-box;
    position: absolute;
    top:calc(100% + 1px); left:50%;
    transform: translateX(-50%);
    opacity: 0;
    transition:0.4s;
}
header .etc_menu .eng > ul li{
    font-size: var(--body-fz);
    color:#2a2a2a;
    margin-bottom:12px;
    text-align: center;
}
header .logo > a{
    display:block;
    width: 218px;
    height: 44px;
    background:url(../Images/Logo_white.png) no-repeat 0 0/100% 100%;
    text-indent: -999em;
}
header.active .logo > a{
    background-image:url(../Images/logo.png);
}
header .target{
    position: absolute;
    border-bottom:3px solid #000;
    transition:all 0.4s;
}
.mobile_open_menu{
    display:none;
}

#search{
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
    background:rgba(0,0,0,.7);
    z-index:999;
    opacity: 0;
    pointer-events:none;
    transition:0.5s;
}
#search.active{
    opacity: 1;
    pointer-events: visible;
}
#search input{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    outline: none;
    width: 50%;
    height: 7%;
    border-radius: 10px;
    padding:20px 35px;
    box-sizing: border-box;
}
#search input[placeholder]{
    font-size: calc(var(--body-fz)*1.17);
    color:#8c8c8c;
}
#search label{
    position: absolute;
    top:calc(50% + 60px);left:calc(50% + 220px);
    transform: translate(-50%,-50%);
    color:#fff;
    text-decoration: underline;
}
#search .close{
    position: absolute;
    top:10%; right:15%;
}
#search .close span{
    color:var(--white);
    font-size: 38px;
}



/* --------FOOTER-------- */
.footer_bar > ul{
    height: 39px;
    background:var(--gray);
    display:flex;
    gap: 50px;
    padding:0 40px;
}
.footer_bar > ul li a{
    color:var(--white);
    line-height: 39px;
    font-weight: 700;
}
.footer_bar > ul li span{
    color:var(--white);
    vertical-align: middle;
    cursor:pointer;
    transition:0.3s;
}
.footer_bar > ul li.ui-tabs-active span{
    transform: rotate(180deg);
}
.footer_bar #brand_all{
    border:1px solid var(--gray);
    padding: 25px 50px;
    display:flex;
    justify-content: space-between;
}
.footer_bar #brand_all h4{
    font-size: calc(var(--body-fz)*1.17);
    text-transform: uppercase;
    padding-bottom:15px;
}
.footer_bar #brand_all > div .br{
    display:flex;
    justify-content: space-between;
    gap:6vw;
}
.footer_bar #brand_all > div .br > div{
    display:flex;
    flex-direction:column;
    gap:35px;
}
.footer_bar #brand_all > div .br h5{
    font-weight: 700;
}
.footer_content{
    padding:20px 0;
    display:flex;
    gap:4vw;
}
.footer_content > *{
    font-size: 15px;
}
.footer_content .bold{
    font-weight: 700;
    font-size: var(--body-fz);
}
.footer_content .content_2{
    padding-left:19%;
}
.footer_content h2 a{
    display:inline-block;
    width: 216px;
    height: 42px;
    background:url(../Images/logo.png) no-repeat center/cover;
    text-indent: -999em;
}

.top a{
    font-size: 40px;
    padding:10px;
    border-radius:50%;
    border:2px solid rgba(196,4,82,.3);
    color:rgba(196,4,82,.3);
    transition:0.3s;
    z-index:99;
    position: fixed;
    right: 5%;
    bottom:6%;
}
.top a:hover{
    border-color:var(--red);
    color:var(--red);
    background:#fff;
}

@media (max-width:1296px){
    .container{
        width: 100%;
        padding:0 20px;
        box-sizing: border-box;
    }
    .content_pd{
        padding:calc(var(--lh)*3) 0;
    }
    .content_top_pd{
        padding-top:calc(var(--lh)*3);
    }
    header .main_menu > li{
        padding:0 27px;
    }
    header .main_menu > li > ul >li{
        font-size: 15px;
    }
}
@media (max-width:960px){
    header{
        display:flex;
        align-items: center;
        background:transparent;
    }
    header > .container{
        display:block;
        padding:0;
    }
    header nav .main_menu, header .etc_menu{
        display:none;
    }
    header .logo{
        height: 100%;
    }
    header .logo > a{
        margin:0 auto;
    }
    header .target{
        display:none;
    }
    header .mobile_menu{
        display:block;
        width: 30px;
        height: 23px;
        position: absolute;
        left:10px;
        top:50%;
        transform: translateY(-50%);
        z-index:990;
    }
    header .mobile_menu span{
        height: 3px;
        width: 100%;
        border-radius:4px;
        background:#fff;
        position: absolute;
        top:0;
        box-shadow: 1px 0 3px rgba(0,0,0,.2);
    }
    header .mobile_menu span:nth-child(2),
    header .mobile_menu span:nth-child(3){
        top:10px;
        transition:0.4s;
    }
    header .mobile_menu span:nth-child(4){
        top:20px;
    }
    header .mobile_menu.active span:nth-child(1),
    header .mobile_menu.active span:nth-child(4){
        opacity: 0;
    }
    header .mobile_menu.active span:nth-child(2){
        background:var(--gray);
        transform: rotate(45deg);
    }
    header .mobile_menu.active span:nth-child(3){
        background:var(--gray);
        transform: rotate(-45deg);
    }
    header.active .mobile_menu span{
        background:var(--gray);
    }
    .mobile_open_menu{
        display:block;
        position: fixed;
        width: 80%;
        left:-80%;
        top: 0;
        bottom: 0;
        padding:20px 0;
        background:#fff;
        box-shadow: 0 1px 7px rgba(0,0,0,.3);
        transition:0.5s;
        overflow-y:auto;
        z-index:900;
    }
    .mobile_open_menu.active{
        left: 0;

    }
    body.active{
        overflow:hidden;
    }
    .mobile_open_menu .menu_logo{
        padding:10px 20px;
        display:flex;
        justify-content: flex-end;
    }
    .mobile_open_menu .menu_logo a{
        display:inline-block;
        width: 180px;
        height: 35px;
        background:url(../Images/logo.png) no-repeat center/cover;
        text-indent: -999em;
    }
    .mobile_open_menu .all_menu{
        padding:10% 0;
        display:flex;
        flex-direction: column;
        align-items:center;
        gap:250px;
    }
    .mobile_open_menu .main_menu{
        width: 80%;
        display:flex;
        flex-direction:column;
        align-items: center;
    }
    .mobile_open_menu .main_menu > li{
        width: 100%;
        cursor:pointer;
        text-align: left;
        padding:25px 0;
    }
    .mobile_open_menu .main_menu > li > a{
        color:var(--body-fc);
        line-height: 1;
        font-weight: 700;
        padding:0;
    }
    .mobile_open_menu .main_menu > li span{
        position: absolute;
        right:50px;
        vertical-align: top;
    }
    .mobile_open_menu .main_menu > li > ul{
        position: relative;
        top:0;
        left:10px;
        width: 80%;
        transform: none;
        display:none;
    }
    .mobile_open_menu .main_menu > li > ul > li{
        text-align: left;
        padding:7px 0;
        font-size: var(--body-fz);
    }
    .mobile_open_menu .mobile_etc_menu{
        width: 80%;
        display:flex;
        justify-content: center;
        gap:40px;
    }
    .mobile_open_menu .mobile_etc_menu li{
        font-size: calc(var(--body-fz)*1.17);
    }
    .mobile_open_menu .mobile_etc_menu li a{
        color:var(--gray);
    }
    .mobile_open_menu .mobile_etc_menu .eng{
        text-transform: uppercase;
    }

    .footer_bar #brand_all h4{
        font-size: var(--body-fz);
    }
    .footer_bar #brand_all > div .br{
        font-size: 13px;
    }
    .footer_content{
        flex-wrap:wrap;
        gap:6vw;
    }
    .footer_content h2{
        width: 100%;
        text-align: left;
    }
    .footer_content .content_2{
        padding-left: 0;
    }

    #search label{
        position: absolute;
        top:55%;
        left:50%;
        transform: translateX(-50%);
    }
}
@media (max-width:768px){
    :root{
        --body-fz:15px;
        --lh:23px;
    }
    h2{
        font-size: calc(var(--body-fz)*1.5);
    }
    h3{
        font-size: calc(var(--body-fz)*1.4);
    }
    .btn{
        text-align: center;
        width: 180px;
        padding:0 10px;
        overflow:visible;
    }
    .btn span{
        padding-left:10px;
        opacity: 1;
    }
}
@media (max-width:600px){
    :root{
        --body-fz:13px;
        --lh:20px;
    }
    header{
        height:70px;
    }
    header .logo a{
        width: 173px;
        height: 35px;
    }
    .footer_bar{
        display:none;
    }
    .footer_content:before{
        content:'';
        width: 100%;
        height: 1px;
        background:var(--gray);
    }
    .footer_content h2 a{
        width: 30%;
        background-size:100%;
    }
    .footer_content > *{
        font-size: 11px;
    }

    #search input{
        width: 80%;
    }

    .top a{
        font-size: 20px;
        padding:10px;
        border-radius:50%;
    }

    .tab{
        gap:5vw;
        height: auto;
    }
    .tab li{
        font-size: 3.5vw;
    }
    .slide_tt{
        font-size: calc(var(--body-fz)*2.4);
    }
}
@media (max-width:480px){
    :root{
        --body-fz:11px;
        --lh:17px;
    }
    .btn{
        width: 140px;
        height: 30px;
        line-height: 30px;
    }
}
