.main_slide{
    height:100vh;
    position: relative;
}
.slider{
    height: 100%;
}
.main_slide .slider li{
    height: 100vh;
    background:no-repeat center/cover;
    position: relative;
}
.main_slide .slider .slide1{
    background-image:url(../Images/mainslide/slide_1.jpg);
}
.main_slide .slider .slide2{
    background-image:url(../Images/mainslide/slide_2.jpg);
}
.main_slide .slider .slide3{
    background-image:url(../Images/mainslide/slide_3.jpg);
}
.main_slide .slider .slide4{
    background-image:url(../Images/mainslide/slide_4.jpg);
    background-position: 0 0;
}
.main_slide .slider h2{
    position: absolute;
    line-height: 60px;
    color:var(--white);
    opacity: 0;
    transition:0.2s;
}
.animate__animated.animate__fadeInUp {
    --animate-duration: 2s;
}
.slider .slide1 h2{
    text-align: left;
    top:20%;
    left:8%;
    line-height: 60px;
    text-shadow: 1px 1px 7px #707070;
}
.slider .slide2 h2{
    top:40%;
    left:7%;
    text-align: left;
    text-shadow:1px 1px 5px #2a2a2a ;
}
.slider .slide3 h2{
    text-align: right;
    top:50%;
    right:10%;
}
.slider .slide4 h2{
    top:calc(50% - 50px);
    left:calc(50% - 280px);
    text-shadow:1px 1px 5px #2a2a2a ;
}
.main_slide .control a{
    z-index: 51;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    font-size: 75px;
    color:rgba(255,255,255,.5);
}
.main_slide .control .prev{
    right:calc(100% - 100px);
}
.main_slide .control .next{
    left:calc(100% - 100px);
}
.main_slide .bx-wrapper{
    position: relative;
}
.main_slide .bx-controls{
    position: absolute;
    left: 0; right: 0;
    bottom:20px;
    z-index: 51;
}
.main_slide .bx-controls .bx-pager{
    display: flex;
    justify-content: center;
}
.main_slide .bx-controls .bx-pager a{
    display:inline-block;
    width: 100px;
    height: 2px;
    background:rgba(255,255,255,.5);
    text-indent: -999em;
    position: relative;
}
.main_slide .bx-controls .bx-pager a:after{
    content:'';
    position: absolute;
    left: 0; top: 0;
    z-index:52;
    height: 2px;
    background:var(--white);
}
.main_slide .bx-controls .bx-pager a.active:after{
    animation: move 4s forwards;
}
@keyframes move {
    0%{
        width:0px;
    }
    100%{
        width: 100px;
    }
}
.main_slide .pager_num{
    position: absolute;
    left:calc(50% - 230px);
    transform:translate(-50%,-50%);
    bottom:20px;
    z-index: 51;
    font-size: calc(var(--body-fz)*1.76);
    color:var(--white);
}
.main_slide .indicator{
    position: absolute;
    bottom:20px;
    left:calc(50% + 210px);
    z-index: 51;
}
.main_slide .indicator span{
    color:var(--white);
    font-size: 40px;
    cursor:pointer;
}
.main_slide .indicator .play{
    display:none;
}
.main_slide .indicator.active .play{
    display:inline-block;
}
.main_slide .indicator.active .stop{
    display:none;
}

/* best brand */
.best_brand .tab_content{
    position: relative;
}
.best_brand .tab_content .bx-wrapper{
    margin:0 auto;
}
.best_brand .tab_content ul li img{
    width:100%;
}
.best_brand .tab_content .bx-controls a{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    color:var(--gray);
}
.best_brand .tab_content .bx-controls a span{
    font-size: 50px;
}
.best_brand .tab_content .bx-prev{
    right:92%;
}
.best_brand .tab_content .bx-next{
    left:92%;
}
.best_brand .tab_content{
    min-height: 108px;
}
.best_brand .tab li.ui-tabs-active{
    border-bottom: 2px solid var(--red);
}
.best_brand .tab li.ui-tabs-active a{
    color:var(--red);
}

/* brand desc */
.brand_desc{
    height: 100vh;
    position: relative;
    overflow: hidden;
    display:flex;
    align-items: center;
    z-index:0;
}
.brand_desc:before{
    content:'';
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index:-1;
    background:no-repeat center/cover;
    filter:blur(5px);
}
.brand_desc.one:before{
    background-image: url(../Images/mainslide/hd-wallpaper-g1e909b5ed_1920.jpg);
}
.brand_desc.two:before{
    background-image: url(../Images/mainslide/alyssa-hurley-yekIZ4ltv1o-unsplash.jpg);
}
.brand_desc.three:before{
    background-image: url(../Images/mainslide/giorgio-trovato-Va-lIejKNRE-unsplash.jpg);
}
.brand_desc .content > * {
    color:rgb(30, 30, 30);
}
.brand_desc .btn{
    border-color:rgb(30, 30, 30);
    color:rgb(30, 30, 30);
}
.brand_desc > div > .contents{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.brand_desc > div  .content {
    color:var(--white);
    text-shadow: 0px 1px 1px rgba(0,0,0,.2);
    display:flex;
    flex-direction: column;
    gap:var(--lh);
}
.brand_desc > div  .content h3{
    text-transform: uppercase;
    font-family: var(--en-ff);
    font-weight: 500;
}
.brand_desc > div  .content p{
    width: 550px;
    font-size: 20px;
    line-height: 35px;
}
.brand_desc .image_wrap{
    height: 500px;
    transition:0.2s;
}
.brand_desc .image_wrap li{
    height: 100%;
    display:flex;
    justify-content: center;
}
.brand_desc .image_wrap img{
    height: 100%;
}
.brand_desc .bx-wrapper{
    position: relative;
}
.brand_desc .bx-controls{
    width:500px;
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%,-50%);
    transition:0.2s;
}
.brand_desc .bx-controls-direction{
    width: 100%;
    display:flex;
    justify-content: space-between;
}
.brand_desc .bx-controls a span{
    font-size: calc(var(--body-fz)*3.52);
    color:#ebebeb;
    text-shadow: 0px 1px 5px rgba(0,0,0,.2);
    transition:0.3s;
}
.brand_desc .bx-controls a:hover span{
    color:var(--gray);
}

/*esg*/
.esg > p{
    text-align: center;
    padding:var(--lh) 0;
}
.esg ul{
    width: 82%;
    margin:0 auto;
    display:flex;
}
.esg ul li{
    height: 356px;
    background:no-repeat center/cover;
    position: relative;
    transition: 0.5s;
}
.esg ul li:before{
    content:'';
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    background:rgba(0,0,0,.7);
    opacity: 0;
    transition:0.5s;
}
.esg ul li > p{
    font-size: 128px;
    font-family: var(--en-ff);
    font-weight: 600;
    color:var(--white);
    position: absolute;
    left:50%; top:50%;
    transform: translate(-50%,-50%);
    transition: 0.2s;
}
.esg .hover_content{
    color:var(--white);
    position: absolute;
    left:80px;
    top:50%;
    transform: translateY(-50%);
    opacity: 0;
    transition:0.5s;
}
.esg .hover_content h3{
    margin-bottom:50px;
    font-family: var(--en-ff);
    font-weight: 400;
}
.esg .hover_content p{
    font-size: calc(var(--body-fz)*1.47);
    line-height: calc(var(--lh)*2.35);
}
.esg ul li:hover{
    flex:2;
}
.esg ul li:hover:before{
    opacity: 1;
}
.esg ul li:hover >p{
    opacity: 0;;
}
.esg ul li:hover .hover_content{
    opacity: 1;
}
.esg .e{
    background-image:url(../Images/esg/image_1.jpg);
    flex:1;
}
.esg .s{
    background-image:url(../Images/esg/image_2.jpg);
    flex:1;
}
.esg .g{
    background-image:url(../Images/esg/image_3.jpg);
    background-position: left;
    flex:1;
}

/* news */
.news > p{
    text-align: center;
    padding:var(--lh) 0;
}
.news ul{
    display:flex;
    justify-content: center;
    gap:3%;
}
.news ul li{
    width: 27%;
    height: 50vh;
    background:var(--white);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,.2);
    border-radius: 50px 0 50px 0;
    display:flex;
    flex-direction: column;
    justify-content:center;
    padding:20px;
    box-sizing: border-box;
    z-index:0;
}
.news ul li > p{
    text-align: center;
    padding-top:20px;
}
.news ul li .image_wrap{
    width: 90%;
    height: 60%;
    margin:0 auto;
    display:flex;
    justify-content: center;
    overflow:hidden;
    position: relative;
    transition: 0.4s;
}
.news ul li .image_wrap img{
    height: 100%;
    z-index: -2;
    transition:0.4s;
}
.news ul li .image_wrap .btn{
    content:'';
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
.news ul li .image_wrap:before{
    content:'';
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    background:rgba(0,0,0,.6);
    opacity: 0;
    transition:0.4s;
}
.news ul li .image_wrap:hover:before{
    opacity: 1;
}
.news ul li .image_wrap:hover .btn{
    opacity: 1;
}
.news ul li .image_wrap:hover img{
    transform: scale(1.1);
}
.news .read_more{
    display:none;
}

/* advertisement */
.ad{
    height: 600px;
    background:linear-gradient(#fff 60%,rgba(227, 194, 194, 0.9)) fixed;
    display:flex;
    align-items: center;
}
.ad > div{
    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap:wrap;
}
.ad .content h2{
    padding-bottom:var(--lh);
}
.ad .content span{
    vertical-align: middle;
    transition: 0.4s;
}
.ad .content:hover span{
    padding-left:30px;
}
.ad .play_video{
    width: 522px;
    position: relative;
}
.ad .play_video img{
    width: 100%;
}
.ad .play_video span{
    color:var(--white);
    font-size: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor:pointer;
}
.ad .video{
    position: fixed;
    top: 0; bottom: 0; right: 0; left: 0;
    background:rgba(0,0,0,.5);
    display:none;
    justify-content: center;
    align-items:center;
    z-index:900;
}
.ad .video iframe{
    width: 700px;
    height: 60vh;
}

/* company */
.company ul{
    padding-top:calc(var(--lh)*3);
    position: relative;
    height: 437px;
}
.company ul li{
    width: 27%;
    height: 437px;
    border-radius:10px;
    box-sizing: border-box;
    background:var(--white);
    box-shadow: 1px 2px 5px 2px rgba(109,110,113,.2);
    text-align: center;
    padding:45px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:30px;
    position: absolute;
    transition:0.5s;
}
.company ul li:nth-child(1){
    left:0;
}
.company ul li:nth-child(2){
    left:24%;
}
.company ul li:nth-child(3){
    left:48%;
}
.company ul li:nth-child(4){
    right:0;
}
.company ul li span:first-child{
    font-size: calc(var(--body-fz)*4.11);
    color:var(--gray);
}
.company ul li span:last-child{
    position: absolute;
    bottom:50px;left:50%;
    transform: translateX(-50%);  
    font-size: 40px;
    color:var(--red);
    opacity: 0;
    transition:0.5s;
}
.company ul li:hover{
    box-shadow: 1px 2px 5px 2px rgba(109,110,113,.4);
    transform: translateY(-10%);
}
.company ul li:hover span:first-child{
    color:var(--red);
}
.company ul li:hover span:last-child{
    opacity: 1;
}

.popup{
    padding:40px;
    width: 500px;
    background:rgb(255,255,255);
    border-radius:10px;
    box-shadow:2px 2px 5px rgba(0,0,0,.2);
    font-size: 15px;
    position: fixed;
    top:16%;
    left: 10%;
    z-index:999;
    display:flex;
    flex-direction:column;
    gap:var(--body-fz);
}
.popup hr{
    color:#ccc;
    width: 100%;
}
.popup .hd{
    font-size: var(--body-fz);
    font-weight: bold;
    padding-bottom:10px;
}
.popup .desc{
    font-size: calc(var(--body-fz)*0.8);
}
.popup .desc p em{
    color:var(--red);
}
.popup .desc p span{
    vertical-align:middle;
}
.popup .content{
    font-size: calc(var(--body-fz)*0.9);
}
.popup .content em{
    font-weight: bold;
}
.popup .content a{
    color:var(--red);
    font-weight: bold;
}
.popup .content .page a{
    padding:0 10px;
    text-decoration: underline;
}
.popup .content p:nth-child(5) em{
    color:var(--body-fc);
}
.popup .content p:nth-child(5) em span{
    vertical-align:middle;
}
.popup .content p:last-child a{
    font-weight: normal;
}
.popup label{
    font-size: var(--body-fz);
}
.popup .close{
    position: absolute;
    top:20px;
    right:20px;
}
.popup #popup{
    vertical-align:middle;
}


/* ----------------------STORY PAGE-------------------------- */
.banner{
    height: 600px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
}
.story .banner{
    background:url(../Images/story/company.jpg) no-repeat center/cover;
    gap:40px;
    height: 100vh;
    z-index: -2;
}
.story .banner:before{
    content:'';
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    background:rgba(109,110,113,.7);
    z-index: -1;
}
.story .banner>h2,
.story .banner>h3{
    color:var(--white);
}
.story .banner.active h2{
    animation-name:fadeInUp;
    animation-delay:0.3s;
}
.story .banner.active h3{
    animation-name:fadeInUp;
    animation-delay:0.5s;
}
.story main{
    text-align: center;
    font-size: calc(var(--body-fz)*1.17);
}
.story footer{
    text-align: left;
}
.story_1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:calc(var(--lh)*2);
}
.story_1 strong{
    color:var(--red);
    font-size: calc(var(--body-fz)*1.76);
}
.story_1.active h2{
    animation-name: fadeInUp;
    animation-delay:0.4s;
}
.story_1.active > p{
    animation-name: fadeInUp;
}
.story_1.active > p:nth-child(2){
    animation-delay:0.5s;
}
.story_1.active > p:nth-child(3){
    animation-delay:0.6s;
}
.story_1.active > p:nth-child(4){
    animation-delay:0.7s;
}
.story_2{
    position: relative;
    background:linear-gradient(to right, rgba(109,110,113,.5) 50%,rgba(196,4,82,.3));
    overflow: hidden;
    padding:calc(var(--lh)*2) 0;
    color:var(--white);
}
.story_2:before{
    content:'';
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    background:url(../Images/story/story_2.jpg) no-repeat center/cover;
    filter:blur(5px);
    z-index: -1;
}
.story_2 h2{
    text-align: left;
    padding-bottom:calc(var(--lh)*2);
}
.story_2 ul{
    display:flex;
    justify-content: center;
    /* flex-wrap:wrap; */
    gap:6vw;
}
.story_2 ul li{
    width: 380px;
    height: 380px;
    border-radius:50%;
    font-size: calc(var(--body-fz)*1.76);
    line-height: 40px;
    color:var(--red);
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    transition:0.2s;
}
.story_2 ul li svg{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items:center;
}
.story_2 ul li circle{
    fill:rgba(255,255,255,.5);
    stroke-width: 3;
    stroke:var(--red);
    stroke-dasharray: 1118;
    stroke-dashoffset: 1118;
    stroke-linecap: round;
    transform-origin:50%;
    transform: rotate(-90deg);
}
.story_2 ul li > span{
    position: absolute;
    left:50%; top:50%;
    transform: translate(-50%,-50%);
}
.story_2 p{
    padding-top:calc(var(--lh)*2);
    line-height: 40px;
    margin:0 auto;
}
.story_2.active * {
    animation-delay:0.4s;
}
.story_2.active h2{
    animation-name: fadeInLeft;
}
.story_2.active ul li:nth-child(1){
    animation-name: fadeInLeft;
}
.story_2.active ul li:nth-child(2){
    animation-name: fadeInDown;
}
.story_2.active ul li:nth-child(3){
    animation-name: fadeInRight;
}
.story_2.active p{
    animation-name: fadeInUp;
}
.story_3{
    position: relative;
    background:rgba(0,0,0,.6);
    height: 100vh;
    overflow: hidden;
    padding:calc(var(--lh)*3) 0;
    color:var(--white);
}
.story_3:before{
    content:'';
    position: absolute;
    left: 0; right: 0; top: 0;bottom:0;
    background:url(../Images/story/story_3.jpg) no-repeat center/cover;
    filter:blur(5px);
    z-index: -1;
}
.story_3 > .container{
    height: 100%;
    position: relative;
}
.story_3 h2{
    text-align: right;
    padding-bottom:calc(var(--lh)*2);
}
.story_3 .content{
    position: relative;
    height: 90%;
}
.story_3 ul{
    height:100%;
    position: relative;
}
.story_3 ul:after{
    content:'';
    width: 83%;
    height: 75%;
    border-radius:50%;
    border:2px solid rgba(255,255,255,.5);
    position: absolute;
    left:50%; top:58px;
    transform: translateX(-50%);
}
.story_3 ul li{
    width: 190px;
    height: 116px;
    border-radius: 20px;
    padding:0 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    vertical-align: top;
    background:var(--white);
    position: absolute;
    color:var(--body-fc);
    font-weight: bold;
}
.story_3 ul li:nth-child(1){
    top:0;
    left:50%;
    transform: translateX(-50%);
}
.story_3 ul li:nth-child(2){
    top:50%;
    right:0;
    transform: translateY(-50%);
}
.story_3 ul li:nth-child(3){ 
    top:75%;
    left:50%;
    transform: translateX(-50%);
}
.story_3 ul li:nth-child(4){
    top:50%;
    left:0;
    transform: translateY(-50%);
}
.story_3 p{
    width: 50%;
    margin:0 auto;
    line-height: 40px;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    font-size: var(--body-fz);
}
.story_3.active h2{
    animation-name: fadeInRight;
    animation-delay:0.3s;
}
.story_3.active .content{
    animation-name: fadeInUp;
    animation-delay:0.5s;
}
.story_3.active ul li{
    animation-name: fadeIn;
    animation-delay:0.9s;
}
.story_3.active p{
    animation-name: fadeIn;
    animation-delay:0.9s;
}
.story .footer_content{
    padding:20px;
}
#fp-nav ul li{
    margin: 15px 10px;
}
#fp-nav ul li a span{
    width: 7px;
    height: 7px;
    background: white;
    box-shadow:1px 1px 3px rgba(0,0,0,.3);
    margin:0;
}
#fp-nav ul li a.active span,
#fp-nav ul li:hover a span,
#fp-nav ul li:hover a.active span{
    margin: -3px 0px 0 -3px
}
#fp-nav ul li a.active span{
    background:var(--red);
}
.fp-watermark{
    display:none;
}


/* ----------------------CUSTOMER PAGE-------------------------- */
.customer .banner{
    background:url(../Images/customer.jpg) no-repeat 50% 40%/cover;
    gap:40px;
}
.customer .banner:after{
    content:'';
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    background:rgba(109,110,113,.7);
}
.customer .banner > *{
    color:var(--white);
    z-index: 1;
}
.customer .banner h3{
    animation-delay:0.2s;
}
.customer .content_top{
    display:flex;
    justify-content: center;
    gap:5%;
}
.content_top .left{
    display:flex;
    flex-direction: column;
    gap:30px;
    justify-content: center;
}
.content_top .left h2{
    text-align: left;
    font-size: calc(var(--body-fz)*1.3);
}
.content_top .notice{
    display:flex;
    gap:34px;
    padding:30px 0;
    border-top:2px solid var(--gray);
    border-bottom:2px solid var(--gray);
}
.content_top .notice h2{
    position: relative;
}
.content_top .notice h2:after{
    content:'';
    width: 1px;
    height: 96px;
    background:#ccc;
    position: absolute;
    right:-17px;
    top:-20px;
}
.content_top .consult{
    width: 100%;
    border:1px solid var(--gray);
    border-radius:20px;
    padding:40px 60px;
    box-sizing: border-box ;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.content_top .consult h2{
    line-height: 40px;
}
.content_top .consult p{
    font-weight: bold;
    font-size: calc(var(--body-fz)*1.17);
}
.content_top .consult .call{
    font-size: calc(var(--body-fz)*1.3);
    padding-bottom:30px;
}
.content_top .right {
    width: 440px;
    display:flex;
    align-items:center;
}
.content_top .right ul{
    display:flex;
    flex-wrap:wrap;
    gap:3vw;
    justify-content:center;
}
.content_top .right ul li{
    width: 180px;
    padding:40px 0;
    border-radius:20px;
    box-shadow: 1px 2px 5px 2px rgba(0,0,0,.2);
    display:flex;
    justify-content: center;
    align-items:center;
    transition:0.4s;
}
.content_top .right ul li:hover{
    background:var(--red);
}
.content_top .right ul li:hover a,.content_top .right ul li:hover span{
    color:var(--white);
}
.content_top .right ul li a{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:var(--lh);
    font-size: calc(var(--body-fz)*1.17);
    font-weight: bold;
    transition:0.4s;
}
.content_top .right ul li a span{
    font-size: 40px;
    transition: 0.4s;;
}

.content_bottom{
    width: 90%;
    margin:0 auto;
}
.content_bottom h2{
    padding:30px 0;
    border-bottom:1px solid var(--gray);
}
.faq > p{
    border-bottom:1px solid #ccc;
    padding: 20px 30px;
    cursor:pointer;
    display:flex;
    justify-content: space-between;
    align-items:center;
    transition:0.4s;
}
.faq > p span:first-child{
    display:none;
}
.faq > p.ui-state-active{
    border-bottom:1px solid var(--red);
    background:#f8f8f8;
}
.faq > p.ui-state-active >span:last-child{
    transform: rotate(180deg) ;
}
.faq > p em{
    color:var(--red);
    font-weight: 700;
}
.faq > p span:last-child{
    vertical-align: middle;
    transition:0.4s;
}
.faq .desc{
    padding:30px 50px;
    display:flex;
    flex-direction:column;
    gap:var(--lh);
    border-bottom:1px solid #ccc;
    background:#f8f8f8;
}
.faq .desc p>span{
    vertical-align: middle;
    padding-right:10px;
    color:var(--red);
}


/* ----------------------BRNAD PAGE-------------------------- */
.brand .banner{
    background:linear-gradient(to right,rgba(198,185,229,.8),rgba(173,206,255,.8));
    height: 500px;
}   
.brand .banner h2{
    color:var(--white);
    text-transform: uppercase;
    font-family: var(--en-ff);
    font-size: 100px;
    text-shadow: 1px 2px 5px rgba(0,0,0,.1);
}
.brand main .tab{
    padding-bottom:0;
}
.brand main .tab li{
    font-size: calc(var(--body-fz)*1.17);
}
.brand section{
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding:calc(var(--lh)*2) 0;
}
.brand section h3{
    text-align: center;
    font-size: calc(var(--body-fz)*1.47);
    padding:calc(var(--lh)*2) 0;
}
.brand section ul{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    gap:24px;
}
.brand section ul li{
    width: 306px;
    height: 306px;
    position: relative;
}
.brand section ul li img{
    position: absolute;
    left:50%; top:50%;
    transform: translate(-50%,-50%);
    transition:0.4s;
}
.brand section ul li img:first-child{
    width: 100%;
}
.brand section ul li img:last-child{
    width: 80%;
    opacity: 0;
}
.brand section ul li:hover img:first-child{
    opacity: 0;
}
.brand section ul li:hover img:last-child{
    opacity: 1;
}

/* ----------------------HISTORY PAGE-------------------------- */
.hist main .y_con > .container{
    padding:120px 20px;
    position: relative;
}
.hist main > div{
    position: relative;
}
#history_1{
    background:#f0f0f0;
}
#history_2{
    background:#f9fbff;
}
.hist .y_con .container h2{
    padding-bottom: calc(var(--lh)*4);
}

.hist .year > div{
    width: 40%;
}
.hist .left{
    text-align: right;
} 
.hist .right{
    text-align: left;
    padding-left:59%;
}
.hist .st{
    width: 100%;
}
.hist .st img{
    max-width:100%;
}
.hist .st>*{
    padding-bottom:10px;
}
.hist .st > p:first-child{
    font-weight: bold;
}
.center_line{
    width: 2px;   
    position: absolute;
    top:10em; bottom:10em;
    left:50%;
    transform: translateX(-50%);
    background:#ccc;
}
.hist .circle{
    position: absolute;
    top:10em;
    left:50%;
    transform: translateX(-50%);
    width: 15px; height: 15px;
    border-radius:50%;
    background:#ccc;
}
.hist .circle_bt{
    position: absolute;
    bottom:10em;
    left:50%;
    transform: translateX(-50%);
    width: 15px; height: 15px;
    border-radius:50%;
    background:#ccc;
}
.hist .num{
    font-size: calc(var(--body-fz)*2);
    font-weight: bold;
    color:var(--gray);
    position: fixed;
    left:50%;
    transform: translateX(-50%);
    z-index:90;
}
.hist footer{
    background:#ebebeb;
}
#fp-nav ul li .fp-tooltip{
    font-size: calc(var(--body-fz)*1.17);
    color:var(--gray);
}



